@media (max-width: 700px) {}
body{
    font-size: 16px;
    padding: 3%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.flex{
display: flex;
align-items :center;
justify-content: center;
font-size: 3em;
font-weight: bold;
text-align: center;
color: purple;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

/* TITULO Y ENCABEZAO */

header{
    height: 100vh;
    background-image: url("./img/foto_header_ny.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #333;
    margin-top: 50px;
}

h2 {
    color: #333;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Georgia', serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h3 {
    font-size: 24px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin: 0; 
    font-weight: bold; 
}

h4{
    font-size: 20px; 
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    margin: 0; 
    font-weight: bold;
    border-bottom: 2px solid beige; 
}

h5 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 15px;
    border-bottom: 2px solid beige 
}


/* COLUMNAS */

* {
    box-sizing: border-box;
}



#pag{
    display: flex;
}

.column-der {
float: left;
width: 25%;
margin: 5px;
}

.column-izq {
    float: left;
    width: 25%;
    margin: 5px;
    }

.columna-central {
    float: left;
    width: 50%;
    border: 1px solid #ccc; 
    margin: 5px;
}

/* GALERIA DE IMAGENES */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 20px;
}

.gallery img {
    width: 35%; 
    margin: 10px;
}

img{
    width: 70%;
}

/* LUGARES DE INTERES */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.image-container {
    width: 45%; 
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

/* MAPA POBLACION */

.mapapoblacionnn{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
}

.mapavideo{
text-align: center;
}

.container{
    padding: 3%;
}

/* RESEÑA Y RUTA */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  a {
    color: #007BFF;
    text-decoration: none;
  }
/* REDES SOCIALES */

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .social-icon {
    width: 40px; 
    height: 40px;
    margin: 10px;
    color: #007bff;
  }

  /* NOTICIAS */

.video{
    position: relative;
  }

.negrita{
    display: block
  }

.imagenrrdd{
text-align: center;
}

/* PARA PANTALLAS PEQUEÑAS (700PX) */

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    .gallery img,
    .image-container img,
    .mapapoblacionnn,
    img {
        width: 100%;
    }

    .column-der,
    .column-izq,
    .columna-central,
    .image-container {
        width: 100%;
        box-sizing: border-box;
        margin: 5px;
    }
}

